@page "/"
@using SpotifyAPI.Web;
@inject HttpClient Http

<PageTitle>Home</PageTitle>


@if (user == null)
{
    <h1>Spotify Led Controller</h1>
    <br />
    <h3>Waiting...</h3>
    <div>
        <NavLink class="nav-link" href="login">
            <span class="oi oi-lock-locked" aria-hidden="true"></span> LogIn
        </NavLink>
    </div>
}
else
{
    <Track></Track>
}

@code {
    private PrivateUser? user;

    protected override async Task OnInitializedAsync()
    {

        user = await Http.GetFromJsonAsync<PrivateUser>("user");
    }
}
