@page "/"
@using AUDIO.NET.APP.Shared
@using SpotifyAPI.Web;
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Spotify Led Controller</h1>
<br />
@if (user == null)
{
    <div>
        <NavLink class="nav-link" href="login">
            <span class="oi oi-lock-locked" aria-hidden="true"></span> LogIn
        </NavLink>
    </div>
}
else
{
    <p>Hello, @user.DisplayName!</p>
}

@code {
    private PrivateUser? user;

    protected override async Task OnInitializedAsync()
    {

        user = await Http.GetFromJsonAsync<PrivateUser>("user");
        if (user != null)
            Http.GetAsync("Listen");
    }
}
