@using AUDIO.NET.APP.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using SpotifyAPI.Web
@using System.Drawing
@inject HttpClient Http
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="wrapper" style="background: radial-gradient(circle, rgba(0,0,0,0) 5%, rgba( @color ,0.5 ) 100%);">
    <div class="track">
        <TrackInfo Track="track"></TrackInfo>
        <Wave Color="@color" Levels="levels"></Wave>
        <div></div>
    </div>
</div>

@code {
    private FullTrack? track;
    private string color;
    private HubConnection? hubConnection;
    private List<double>? levels = new List<double>();
    private string bgcolor;
    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder().AddNewtonsoftJsonProtocol().WithUrl(NavigationManager.ToAbsoluteUri("/trackhub")).Build();

        hubConnection.On<TrackDTO>("TrackChange", newTrack =>
        {
            track = newTrack.Track;
            color = newTrack.Color;
            levels = newTrack.Levels;
            bgcolor = $"";
            StateHasChanged();
        });

        await hubConnection.StartAsync();

    }

    protected override async Task OnInitializedAsync()
    {
        await Connect();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
